body{
    margin: 0;
    text-align: center;
     font-family: cursive ,verdana, sans-serif; 
     color: #40514E;
    
}
h1{
    margin:50px auto 0 auto ; 
    font-size: 2.5rem;
  
}
h3{
    color: #0c7b93;
}
h2{
    color: #404b69;
    font-size: 2rem;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.825rem;
    line-height: 1.5;
}
hr{
    border: dotted #cadefc 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

 .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 999;
} 
.top-container{
    background-color: #cadefc;
    position: relative;
    padding-top: 200px;
    height: 560px;
    
    
}
.middle-container{
    padding-top: 20px;
}

.bottom-container{
    background-color: #cadefc;
    padding: 50px 0 20px;
}
.intro{
    width: 30%;
    margin: auto;
}
.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;

}

.top-cloud{
    position:absolute;
    right: 200px;
    top: 100px;
    width: 200px;
     animation-name: bounce;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction:reverse; 
    transition: ease-in-out;

}

 @keyframes bounce {
    0% {
      left: 0;
    }
    100% {
        left: 1275px;
    }
  } 

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    height: 80px;
    animation-name: bounce;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    transition: ease-in;
}

@keyframes bounce2 {
    0% {
      right: 300px;
    }
    100% {
        right: 1000px;
    }
  }

a{
    color:#0c7b93;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
a:hover{
    color: #EAF6EA;
}
.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.editting-img{
    width: 25%;
    float: left;
    margin-left: 30px;
}
.web-img{
    width: 25%;
    float: right;
    margin-right: 30px;
}
.outro-connect{
    width: 50%;
    margin:40px auto 60px;
}
.contact-me{
    margin-bottom: 50px;
}
.copyright{
    font-size: .75rem; 
    font-style: normal;
    padding-top: 20px;
  
}
.btn {
    background: #cadefc;
    background-image: -webkit-linear-gradient(top, #cadefc, #2980b9);
    background-image: -moz-linear-gradient(top, #cadefc, #2980b9);
    background-image: -ms-linear-gradient(top, #cadefc, #2980b9);
    background-image: -o-linear-gradient(top, #cadefc, #2980b9);
    background-image: linear-gradient(to bottom, #cadefc, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #369fe0;
    background-image: -webkit-linear-gradient(top, #369fe0, #cadefc);
    background-image: -moz-linear-gradient(top, #369fe0, #cadefc);
    background-image: -ms-linear-gradient(top, #369fe0, #cadefc);
    background-image: -o-linear-gradient(top, #369fe0, #cadefc);
    background-image: linear-gradient(to bottom, #369fe0, #cadefc);
    text-decoration: none;
  }